<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Aliquip ea deserunt consectetur pariatur nulla mollit elit labore
        proident cillum laborum aliquip commodo. Ad culpa sit do esse ipsum
        proident occaecat. Consectetur est elit laboris magna qui officia ex
        aliquip est eu esse laboris.
      </p>
      <p>
        Adipisicing sit adipisicing fugiat reprehenderit. Consequat pariatur
        voluptate amet aliquip. Excepteur laborum dolor officia Lorem in anim.
        Officia dolore commodo anim anim elit non non adipisicing et proident eu
        commodo aliquip ullamco. Nulla cupidatat adipisicing labore non. Qui
        nisi minim aute reprehenderit elit aliqua labore. Ad laboris duis elit
        nisi sit veniam esse aute do ullamco labore. Labore commodo culpa sit
        aute velit elit dolore nulla quis fugiat nostrud occaecat laborum
        commodo.
      </p>
      <p>
        Veniam id sunt qui consectetur incididunt cupidatat deserunt cupidatat
        qui elit occaecat. Dolor excepteur adipisicing anim dolor duis qui ex
        sunt in anim. Sunt cupidatat id cillum mollit. In elit deserunt duis eu
        id cupidatat dolore non fugiat incididunt. Ullamco mollit incididunt
        nulla officia esse dolor mollit dolor tempor quis sit enim adipisicing.
        Officia consectetur est aliqua exercitation qui nisi cillum incididunt.
        Et ipsum excepteur do ut proident id tempor proident ex nulla
        reprehenderit irure.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
